@media (max-width: 900px) and (min-width: 600px){
    .unity {
        width: 800px !important;
        height: 500px !important;
    }
}

@media (max-width: 900px) and (min-width: 600px) and (max-height: 400px){
    .unity {
        width: 464px !important;
        height: 290px !important;
    }
}
